body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url("placeholder.jpg");*/
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    gap: 32px;
}

.container > div {
    text-align: left;
}

.signup {
    background-color: black;
    color: white;
    height: 100%;
}